div {
  margin: 40px auto;
  width: 400px;
  background: #eee;
  padding: 10px;
}

p {
  color: #771177;
  /* color define a cor do texto. Pode ser #335566, #333 ou rgba(0,0,0,0.5) 
  • HEXADECIMAL = 0 1 2 3 4 5 6 7 8 9 A B C D E F
  color define a cor do texto. Pode ser #335566, #333 ou rgba(0,0,0,0.5) 
  • HEXADECIMAL = 0 1 2 3 4 5 6 7 8 9 A B C D E F
 */
  font-style: italic;
  font-weight: bold;
  /* 
  • font-style define o estilo do texto. Pode ser normal, italic, oblique
  • font-weight define o peso do texto. Pode ser normal, bold, bolder, lighter e de 100 a 900
  */
  font-size: 14px;
  line-height: 30px;
  /* 
  • font-size define o tamanho do texto. Valores em px ou em
  • line-height define o tamanho da linha do texto. Valores em px ou em
  • em é um unidade relativa. 1em equivale ao tamanho padrão de fonte do 
  dispositivo. Browsers de computadores geralmente tem padrão de 16px.
  */
  font-family: Arial, Helvetica, sans-serif; /* Se o browser não conseguir ler, ele tenta a proxíma */
  /* 
  • font-family define a família tipográfica  */
  font: italic bold 14px/25px "Helvetica Nue", Helvetica, Arial ; /* 
    • o atributo font pode ser utilizado para definir quase todos os valores da font em 
  apenas um atributo. Deve ser utilizada a seguinte ordem: 
  • font: font-style font-weight font-size/line-height font-family
  */
  text-align: center;
  text-transform: uppercase; /* uppercase: AAA   lowercase: aaa */
  text-indent: 20px;
  /*
  • text-align alinha o texto. Valores: left, right, center 
  • text-transform transforma o texto. Valores: uppercase, lowercase, capitalize 
  • text-indent indenta o texto. Valores em px ou em
  */
  text-decoration: underline; 
  text-shadow: 1px 1px #3f3;
  /*
   text-decoration decora o texto. Valores: 
   none (tiraa linha)underline(poem a linha), overline(linha em cima), line-through(riscado)
  • text-shadow coloca sombra no texto. Valores: horizontal vertical blur cor
  é possível utilizar valores negativas no horizontal e vertical 
  */
  white-space: normal;
  word-spacing: 20px;
  letter-spacing: 10px;
}
  /*
  • white-space define se o texto quebra ou não. Valores: nowrap, normal 
  • word-spacing define o espaçamento entre palavras. Pode ser em px ou em 
  • letter-spacing define o tracking. Pode ser em px ou em 
  */
  ul {
list-style-type: circle;
list-style-position: inside;
list-style-image: url('pontos.png');
  }
  ul.menu {
    list-style: none;
  }
  /* 
  • list-style-type define o estilo do marcador da lista. Valores: circle, square, disc 
  • list-style-position define a posição do marcador. Valores: inside, outside 
  • list-style-image substitui o marcador por uma imagem. Valor: url da imagem 
  • list-style: none remove os marcadores.
   */






