.container {
  width: 1000px;
  height: 500px;
  /* 
  width define a largura do box. Valores: px, % e auto. 
  height define a altura do box. Valores: px, % e auto.
  */
  background: rgba(18, 124, 119, 0.477);
  margin: 0 auto;
}
.box1 {
  width: 200px;
  height: 120px;
  background-color: rgba(215, 107, 12, 0.692);
  padding: 10px 20px;
  /* 
  • padding define a distância entre o conteúdo e a borda do box. Valores: px, % e em. 
  • Podem ser declaradas: padding-top, padding-bottom, padding-left e padding-right.
  padding: 10px 20px 30px 40px; 
  padding: top right bottom left;  sentido horário
  padding: 10px 20px;
  padding: top-bottom right-left;
  */
  border: 10px solid red;
  border-style: outset;

  /*
   border define a borda do box. Na seguinte ordem: border-width border-style border-color
  • Podem ser declaradas: border-top, border-bottom, border-left e border-right.
  */
  margin-left: 20px;
  margin-top: 20px;
}
.box2 {
  width: 200px;
  height: 120px;
  background-color: rgba(215, 107, 12, 0.692);
  padding: 10px 20px;
  border: 10px solid red;
  border-style: outset;
  
  margin-left: 20px;
  margin-top: 20px;

  /* 
  • margin define a margem entre um elemento e outro. Valores: px, % e em. 
  • Podem ser declaradas: margin-top, margin-bottom, margin-left e margin-right.
  margin: 0 auto; Centraliza os elementos horizontalmente
  */


}